p {
    margin: 0;
}
* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* CSS for the guess the number boxes */
.gtn-box {
    min-height: 300px;
    min-width: 400px;

    border: 2px solid black;
    border-radius: 32px;

    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;

    display: none;
    flex-direction: column;
    position: relative;

    background-color: aqua;
    overflow: hidden;
}
.default-box {
    display: flex;
}
.gtn-box h2 {
    text-align: center;
    margin: 0;
    padding: 16px;
    font-size: 32px;
}
.vs-container {
    width: 100%;
    display: flex;
    text-align: center;
    margin-bottom: 24px;
}
.vs-container .vs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vs-container div {
    flex: 1 1 0;
}
.profile-display {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.profile-display .profile-pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-bottom: 24px;
    
    background-color: gray;
    
    /* This will get set by the java script */
    /* background-image: url('path/to/your-image.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}